{% extends 'base.html.twig' %}

{% block title %}Mon espaces{% endblock %}

{% block content %}
<h1>Mon compte </h1>
Bienvenue {{app.user.prenom}} dans votre espace.
<hr>
-<a href="{{path('account_password') }}">Modifier mon mot de passe </a><br/>
-Ajouter mes adresses <br/>
-Mes commandes <br/>
<hr>
{% endblock %}
