{% extends 'base.html.twig' %}
{% block title %}Modifier mon mot de passe{% endblock %}

{% block content %}

{% for message in app.flashes('success') %}
        <div class="alert alert-success">
                {{ message }}
            </div>           
{% endfor %}

{% for message in app.flashes('error') %}
    <div class="alert alert-danger">
                {{ message }}
            </div>
{% endfor %}
<h1>Modifier mon mot de passe</h1>
<hr>
<a href="{{path('account') }}">Retourner a mon compte</a><br/>



    {{ form(form) }}
<hr>
{% endblock %}
